.related-projects {
  padding: 120px 0;
  padding-bottom: 100px;

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 35px;
  }

  &__title {
    margin: 0;
    max-width: 710px;
    padding-bottom: 10px;
  }

  &__learn {
    margin-top: 80px;
  }

  &__items {
    margin: -50px;
    padding: 50px;

    .swiper-slide {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .slider-visible {
      opacity: 1;
      visibility: visible;
    }
  }
}
