<section class="clients-feedback">
    <div class="container clients-feedback__container">
        <div class="clients-feedback__content">
            <h2 class="title clients-feedback__title">What our clients are saying</h2>
            <div class="swiper clients-feedback__items">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="clients-feedback-item">
                            <div class="clients-feedback-item__image">
                                <img src="../img/feedback-author.png" alt="human-1" class="clients-feedback-item__image">
                            </div>                            
                            <p class="clients-feedback-item__description">
                                Ipsum aute sunt aliquip aute et&nbsp;occaecat. Anim minim do&nbsp;cillum eiusmod enim. Consectetur magna cillum consequat minim laboris cillum laboris voluptate minim proident exercitation ullamco. 
                            </p>
                            <span class="clients-feedback-item__author">Shawn Edwards</span>
                            <span class="clients-feedback-item__author-position">Position, Company name</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients-feedback-item">
                            <div class="clients-feedback-item__image">
                                <img src="../img/feedback-author.png" alt="human-1" class="clients-feedback-item__image">
                            </div>                            
                            <p class="clients-feedback-item__description">
                                Ipsum aute sunt aliquip aute et&nbsp;occaecat. Anim minim do&nbsp;cillum eiusmod enim. Consectetur magna cillum consequat minim laboris cillum laboris voluptate minim proident exercitation ullamco. 
                            </p>
                            <span class="clients-feedback-item__author">Shawn Edwards</span>
                            <span class="clients-feedback-item__author-position">Position, Company name</span>
                        </div>
                    </div>
                </div>
                
                <div class="slider-nav clients-feedback__slider-nav">
                    <button class="btn-reset slider-nav__btn clients-feedback__prev slider-btn">
                        <svg>
                            <use xlink:href='img/sprite.svg#prev-btn'></use>
                        </svg>
                    </button>
                    <button class="btn-reset slider-nav__btn clients-feedback__next slider-btn">
                        <svg>
                            <use xlink:href='img/sprite.svg#next-btn'></use>
                        </svg>
                    </button>
                </div> 
            </div>
            
        </div>
        <img src="../img/feedback-image.jpg" alt="" aria-hidden="true" class="clients-feedback__image">
        

        </div>
</section>