<section class="clients">
    <div class="container">
        <h2 class="title title--center clients__title">Our clients</h2>
        <ul class="list-reset clients__list">
            <li class="clients__item">
                <a href="#" class="clients__link">
                    <img src="../img/partners/partner-1.png" alt="partners-1" class="partners__logo">
                </a>
            </li>
            <li class="clients__item">
                <a href="#" class="partners__link">
                    <img src="../img/partners/partner-2.png" alt="partners-2" class="partners__logo">
                </a>
            </li>
            <li class="clients__item">
                <a href="#" class="partners__link">
                    <img src="../img/partners/partner-3.png" alt="partners-3" class="partners__logo">
                </a>
            </li>
            <li class="clients__item">
                <a href="#" class="partners__link">
                    <img src="../img/partners/partner-4.png" alt="partners-4" class="partners__logo">
                </a>
            </li>
            <li class="clients__item">
                <a href="#" class="partners__link">
                    <img src="../img/partners/partner-5.png" alt="partners-5" class="partners__logo">
                </a>
            </li>
            <li class="clients__item">
                <a href="#" class="partners__link">
                    <img src="../img/partners/partner-6.png" alt="partners-6" class="partners__logo">
                </a>
            </li>
        </ul>
    </div>
</section>