<section class="portfolio">
    <div class="container">
        <h2 class="visually-hidden">Portfolio</h2>
        <ul class="list-reset portfolio-tabs-nav">
            <li class="portfolio-tabs-nav__item">
                <button class="btn-reset portfolio-tabs-nav__btn portfolio-tabs-nav__btn--active">
                    <svg class="portfolio-tabs-nav__icon">
                        <use xlink:href='img/sprite.svg#house'></use>
                    </svg>
                    <span class="portfolio-tabs-nav__text">All Projects</span>
                </button>
            </li>
            <li class="portfolio-tabs-nav__item">
                <button class="btn-reset portfolio-tabs-nav__btn">
                    <svg class="portfolio-tabs-nav__icon">
                        <use xlink:href='img/sprite.svg#services-1'></use>
                    </svg>
                    <span class="portfolio-tabs-nav__text">Construction</span>
                </button>
            </li>
            <li class="portfolio-tabs-nav__item">
                <button class="btn-reset portfolio-tabs-nav__btn">
                    <svg class="portfolio-tabs-nav__icon">
                        <use xlink:href='img/sprite.svg#services-2'></use>
                    </svg>
                    <span class="portfolio-tabs-nav__text">Project Developments</span>
                </button>
            </li>
            <li class="portfolio-tabs-nav__item">
                <button class="btn-reset portfolio-tabs-nav__btn">
                    <svg class="portfolio-tabs-nav__icon">
                        <use xlink:href='img/sprite.svg#services-3'></use>
                    </svg>
                    <span class="portfolio-tabs-nav__text">Interior Design</span>
                </button>
            </li>
            <li class="portfolio-tabs-nav__item">
                <button class="btn-reset portfolio-tabs-nav__btn">
                    <svg class="portfolio-tabs-nav__icon">
                        <use xlink:href='img/sprite.svg#services-4'></use>
                    </svg>
                    <span class="portfolio-tabs-nav__text">Repairs</span>
                </button>
            </li>
        </ul>
        <ul class="list-reset portfolio-tabs grid">
            <li class="portfolio-tabs__item">
                <a href="#" class="portfolio-item">
                    <img src="../img/portfolio-1.jpg" alt="Portfolio cover" class="porfolio-item__image">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Cubes Building</h3>
                        <span class="portfolio-item__description">Business Centers</span>
                        <div class="portfolio-item__btn">View Project</div>
                    </div>
                </a>
            </li>
            <li class="portfolio-tabs__item">
                <a href="#" class="portfolio-item">
                    <img src="../img/portfolio-1.jpg" alt="Portfolio cover" class="porfolio-item__image">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Cubes Building</h3>
                        <span class="portfolio-item__description">Business Centers</span>
                        <div class="portfolio-item__btn">View Project</div>
                    </div>
                </a>
            </li>
            <li class="portfolio-tabs__item">
                <a href="#" class="portfolio-item">
                    <img src="../img/portfolio-3.jpg" alt="Portfolio cover" class="porfolio-item__image">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Cubes Building</h3>
                        <span class="portfolio-item__description">Business Centers</span>
                        <div class="portfolio-item__btn">View Project</div>
                    </div>
                </a>
            </li>
            <li class="portfolio-tabs__item">
                <a href="#" class="portfolio-item">
                    <img src="../img/portfolio-1.jpg" alt="Portfolio cover" class="porfolio-item__image">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Cubes Building</h3>
                        <span class="portfolio-item__description">Business Centers</span>
                        <div class="portfolio-item__btn">View Project</div>
                    </div>
                </a>
            </li>
            <li class="portfolio-tabs__item">
                <a href="#" class="portfolio-item">
                    <img src="../img/portfolio-3.jpg" alt="Portfolio cover" class="porfolio-item__image">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Cubes Building</h3>
                        <span class="portfolio-item__description">Business Centers</span>
                        <div class="portfolio-item__btn">View Project</div>
                    </div>
                </a>
            </li>
            <li class="portfolio-tabs__item">
                <a href="#" class="portfolio-item">
                    <img src="../img/portfolio-1.jpg" alt="Portfolio cover" class="porfolio-item__image">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Cubes Building</h3>
                        <span class="portfolio-item__description">Business Centers</span>
                        <div class="portfolio-item__btn">View Project</div>
                    </div>
                </a>
            </li>
            <li class="portfolio-tabs__item">
                <a href="#" class="portfolio-item">
                    <img src="../img/portfolio-1.jpg" alt="Portfolio cover" class="porfolio-item__image">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Cubes Building</h3>
                        <span class="portfolio-item__description">Business Centers</span>
                        <div class="portfolio-item__btn">View Project</div>
                    </div>
                </a>
            </li>
            <li class="portfolio-tabs__item">
                <a href="#" class="portfolio-item">
                    <img src="../img/portfolio-1.jpg" alt="Portfolio cover" class="porfolio-item__image">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Cubes Building</h3>
                        <span class="portfolio-item__description">Business Centers</span>
                        <div class="portfolio-item__btn">View Project</div>
                    </div>
                </a>
            </li>
            <li class="portfolio-tabs__item">
                <a href="#" class="portfolio-item">
                    <img src="../img/portfolio-1.jpg" alt="Portfolio cover" class="porfolio-item__image">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Cubes Building</h3>
                        <span class="portfolio-item__description">Business Centers</span>
                        <div class="portfolio-item__btn">View Project</div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="centered">
            <button class="btn-reset portfolio-more">
                <svg>
                    <use xlink:href="img/sprite.svg#learn-more"></use>
                </svg>
                Load more
            </button>
        </div>
    </div>
</section>