<section class="team">
    <div class="container">
        <h2 class="title title--center">
            Our team
        </h2>
        <p class="description description--center">
            People are at the heart of Createx Construction Bureau
        </p>
        <ul class="list-reset grid team__list">
            <li class="team__item">
                <div class="team__top">
                    <img class="team__image" src="../img/team/team-1.jpg" alt="Alexandr">
                    <div class="team__socials">
                        <a href="#" target="_blank" class="team__link" aria-label="Linken in">
                            <svg>
                            <use xlink:href="img/sprite.svg#Linked"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="team__link" aria-label="Twitter">
                            <svg>
                            <use xlink:href="img/sprite.svg#Twitter"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="team__link" aria-label="Facebook">
                            <svg>
                            <use xlink:href="img/sprite.svg#Facebook"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__name">Courtney Alexander</div>
                <div class="team__post">CEO, Co-Founder</div>
            </li>
            <li class="team__item">
                <div class="team__top">
                    <img class="team__image" src="../img/team/team-2.jpg" alt="Alexandr">
                    <div class="team__socials">
                        <a href="#" target="_blank" class="team__link" aria-label="Linken in">
                            <svg>
                            <use xlink:href="img/sprite.svg#Linked"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="team__link" aria-label="Twitter">
                            <svg>
                            <use xlink:href="img/sprite.svg#Twitter"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="team__link" aria-label="Facebook">
                            <svg>
                            <use xlink:href="img/sprite.svg#Facebook"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__name">Calvin Fox</div>
                <div class="team__post">CEO, Co-Founder</div>
            </li>
            <li class="team__item">
                <div class="team__top">
                    <img class="team__image" src="../img/team/team-3.jpg" alt="Alexandr">
                    <div class="team__socials">
                        <a href="#" target="_blank" class="team__link" aria-label="Linken in">
                            <svg>
                            <use xlink:href="img/sprite.svg#Linked"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="team__link" aria-label="Twitter">
                            <svg>
                            <use xlink:href="img/sprite.svg#Twitter"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="team__link" aria-label="Facebook">
                            <svg>
                            <use xlink:href="img/sprite.svg#Facebook"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__name">Johnny Lane</div>
                <div class="team__post">Commercial Manager</div>
            </li>
            <li class="team__item">
                <div class="team__top">
                    <img class="team__image" src="../img/team/team-4.jpg" alt="Alexandr">
                    <div class="team__socials">
                        <a href="#" target="_blank" class="team__link" aria-label="Linken in">
                            <svg>
                            <use xlink:href="img/sprite.svg#Linked"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="team__link" aria-label="Twitter">
                            <svg>
                            <use xlink:href="img/sprite.svg#Twitter"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="team__link" aria-label="Facebook">
                            <svg>
                            <use xlink:href="img/sprite.svg#Facebook"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__name">Diane Mccoy</div>
                <div class="team__post">Director of Human Resources</div>
            </li>
            <li class="team__item">
                <div class="team__top">
                    <img class="team__image" src="../img/team/team-5.jpg" alt="Alexandr">
                    <div class="team__socials">
                        <a href="#" target="_blank" class="team__link" aria-label="Linken in">
                            <svg>
                            <use xlink:href="img/sprite.svg#Linked"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="team__link" aria-label="Twitter">
                            <svg>
                            <use xlink:href="img/sprite.svg#Twitter"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="team__link" aria-label="Facebook">
                            <svg>
                            <use xlink:href="img/sprite.svg#Facebook"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__name">Judith Warren</div>
                <div class="team__post">Lead Accountant</div>
            </li>
            <li class="team__item">
                <div class="team__top">
                    <img class="team__image" src="img/team/team-1.jpg" alt="Alexandr">
                    <div class="team__socials">
                        <a href="#" target="_blank" class="team__link" aria-label="Linken in">
                            <svg>
                            <use xlink:href="img/sprite.svg#Linked"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="team__link" aria-label="Twitter">
                            <svg>
                            <use xlink:href="img/sprite.svg#Twitter"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="team__link" aria-label="Facebook">
                            <svg>
                            <use xlink:href="img/sprite.svg#Facebook"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__name">Floyd Simmmons</div>
                <div class="team__post">Finacial Director</div>
            </li>
            <li class="team__item">
                <div class="team__top">
                    <img class="team__image" src="../img/team/team-7.jpg" alt="Alexandr">
                    <div class="team__socials">
                        <a href="#" target="_blank" class="team__link" aria-label="Linken in">
                            <svg>
                            <use xlink:href="img/sprite.svg#Linked"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="team__link" aria-label="Twitter">
                            <svg>
                            <use xlink:href="img/sprite.svg#Twitter"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="team__link" aria-label="Facebook">
                            <svg>
                            <use xlink:href="img/sprite.svg#Facebook"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__name">Serenity Edwards</div>
                <div class="team__post">Director of Marketing</div>
            </li>
            <li class="team__item">
                <div class="team__top">
                    <img class="team__image" src="img/team/team-1.jpg" alt="Alexandr">
                    <div class="team__socials">
                        <a href="#" target="_blank" class="team__link" aria-label="Linken in">
                            <svg>
                            <use xlink:href="img/sprite.svg#Linked"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="team__link" aria-label="Twitter">
                            <svg>
                            <use xlink:href="img/sprite.svg#Twitter"></use>
                            </svg>
                        </a>
                        <a href="#" target="_blank" class="team__link" aria-label="Facebook">
                            <svg>
                            <use xlink:href="img/sprite.svg#Facebook"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="team__name">Shawn Edwards</div>
                <div class="team__post">Tech Lead</div>
            </li>
        </ul>
        <div class="team__text">
            Become a part of the best team in the construction market of the USA. <a href="#">Available Positions</a>
        </div>
    </div>
</section>